<div class="user-profile">
  <h2>User Profiles</h2>
  <p>Welcome! This is the initial onboarding step for new users. Please create your profile to get started.</p>

  <h3>Create User</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
    </div>
    <button type="submit" [disabled]="!userForm.valid">Add User</button>
  </form>

  <div *ngIf="users$ | async as users; else loading">
    <ul class="user-list">
      <li *ngFor="let user of users">
        <strong>Name:</strong> {{ user.name }} <br>
        <strong>Email:</strong> {{ user.email }}
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <p>Loading users...</p>
  </ng-template>
</div>
